<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title>interest-sub</title>

  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="css/normalize.css" rel="stylesheet">
  <link href="css/app_style.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">

  <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
  <link href="css/ionic.app.css" rel="stylesheet">
  -->

  <!-- ionic/angularjs js -->
  <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
  <script src="js/slick.min.js"></script>
  <script src="js/app.js"></script>
  <script src="lib/ionic/js/ionic.bundle.js"></script>

  <!-- cordova script (this will be a 404 during development) -->
  <script src="cordova.js"></script>

  <!-- your app's js -->
  <script src="js/app.js"></script>
</head>
<body ng-app="starter" ng-controller="bodyCtrl">
<ion-pane>
  <ion-header-bar class="bar business-bar">
    <div class="header clear">
      <button class="back-buttons left">
        <img src="img/back.png" alt="">
      </button>
      <div class="head-title">
        YOUR INTERESTS
      </div>

    </div>
  </ion-header-bar>
  <ion-content>
    <div ng-controller="interestCtrl" class="wrapper  clear" >
      <div class="select-result hide clear">
        <span class="left">
          See your selected 3 interests
        </span>
        <button class="next-step right"></button>
      </div>
      <div class="sub-category-search">
        <input placeholder="Search" type="text">
      </div>
      <div class="subcategory">

        <ul class="subcategory-list interest-sub">
          <li  ng-click="toggleClass($event, 'active')" ng-class="active == true">Food Pop Ups</li>
          <li  ng-click="toggleClass($event, 'active')">Home Food Sales</li>
          <li  ng-click="toggleClass($event, 'active')">Street Food</li>
          <li  ng-click="toggleClass($event, 'active')">Restaurants</li>
          <li  ng-click="toggleClass($event, 'active')">Café & Bakeries</li>
          <li  ng-click="toggleClass($event, 'active')">Competitions</li>
          <li  ng-click="toggleClass($event, 'active')">Private Tuition</li>
          <li  ng-click="toggleClass($event, 'active')">Mentoring & Coaching</li>
          <li  ng-click="toggleClass($event, 'active')">Think Tanks</li>
          <li  ng-click="toggleClass($event, 'active')">Retailers</li>
          <li  ng-click="toggleClass($event, 'active')">Street Vendors</li>
          <li  ng-click="toggleClass($event, 'active')">Fashion & Accessories Classes</li>
          <li  ng-click="toggleClass($event, 'active')">Universities</li>
          <li  ng-click="toggleClass($event, 'active')">immmer Meetings</li>
          <li  ng-click="toggleClass($event, 'active')">Car Wash</li>
          <li  ng-click="toggleClass($event, 'active')">Seminars & Talks</li>
          <li  ng-click="toggleClass($event, 'active')">Universities</li>
          <li  ng-click="toggleClass($event, 'active')">Competitions</li>
          <li  ng-click="toggleClass($event, 'active')">Mentoring & Coaching</li>
          <li  ng-click="toggleClass($event, 'active')">Networking</li>
          <li  ng-click="toggleClass($event, 'active')">Classes, courses, workshops</li>
          <li  ng-click="toggleClass($event, 'active')">Conventions</li>
          <li  ng-click="toggleClass($event, 'active')">Flea Markets</li>
          <li  ng-click="toggleClass($event, 'active')">CarWash&Servces</li>
        </ul>
        <div class="wrapper-symmetric more-block ">
          <!--if need hide button add class hide-->
          <button class="more-button">
            LOAD MORE
          </button>
        </div>
      </div>
      <div class="select-theme hide">

        <p>
          Themes
        </p>
        <div class="theme-wrapper">
          <div class="theme-slider">
            <div class="theme">French</div>
            <div class="theme">Austrian</div>
            <div class="theme">German</div>
            <div class="theme">Italian</div>
            <div class="theme">Indian</div>
            <div class="theme">French</div>
            <div class="theme">German</div>
          </div>
        </div>

      </div>

    </div>
  </ion-content>
  <ion-footer-bar  class="button-bar no-active">
    <button>
      DONE
    </button>
  </ion-footer-bar>
</ion-pane>
</body>
</html>
