<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title>Interest</title>

  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="css/normalize.css" rel="stylesheet">
  <link href="css/app_style.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">

  <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
  <link href="css/ionic.app.css" rel="stylesheet">
  -->

  <!-- ionic/angularjs js -->
  <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
  <script src="js/slick.min.js"></script>
  <!--<script src="js/main.js"></script>-->
  <script src="lib/ionic/js/ionic.bundle.js"></script>

  <!-- cordova script (this will be a 404 during development) -->
  <script src="cordova.js"></script>



  <!-- your app's js -->
  <script src="js/app.js"></script>
</head>
<body ng-app="starter">
<ion-pane>
  <ion-header-bar class="bar business-bar">
    <div class="header clear">
      <button class="back-buttons left">
        <img src="img/back.png" alt="">
      </button>
      <div class="head-title">
        YOUR INTERESTS
      </div>

    </div>
  </ion-header-bar>
  <ion-content>
    <div class="wrapper clear">
      <div class="happening-category interest">
        <p>
          Categories
        </p>
        <p>
          Please select one category, add two venue types,
          and two themes. For most precise audience targeting.
        </p>
        <div class="interest-category clear" ng-controller="interestCtrl" >
          <div class="category-item"  ng-click="toggleClass($event, 'active')">Taste</div>
          <div class="category-item"  ng-click="toggleClass($event, 'active')">Art, Film & Culture</div>
          <div class="category-item"  ng-click="toggleClass($event, 'active')">Music</div>
          <div class="category-item"  ng-click="toggleClass($event, 'active')">Sports & Fitness</div>
          <div class="category-item"  ng-click="toggleClass($event, 'active')">Shopping & Services</div>
          <div class="category-item"  ng-click="toggleClass($event, 'active')">Body & Health</div>
          <div class="category-item"  ng-click="toggleClass($event, 'active')">Parties & Nightlife</div>
          <div class="category-item"  ng-click="toggleClass($event, 'active')">Career & Knowledge</div>
          <div class="category-item"  ng-click="toggleClass($event, 'active')">Hobbies & Recreation</div>
        </div>
      </div>

    </div>
  </ion-content>
  <ion-footer-bar  class="button-bar">

    <button>
      <!--remove a tag if need can don't remove )))-->
      <a href="interest-sub.html">
        NEXT
      </a>
    </button>
  </ion-footer-bar>
</ion-pane>
</body>
</html>
